.text-center {
    text-align: center;
}

.landpage-title {
    font-family: Raleway, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: none 0s ease 0s;
    text-align: center;
    line-height: 57px;
    margin: 0px;
    padding: 9px 0px;
    color: white;
    font-size: 48px;
    white-space: nowrap;
    text-wrap: wrap;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}


@media (max-width:767px) {
    .landpage-title {
        font-size: 35px;
    }
}

.hallura-button {
    padding: 13px 40px;
    font-size: 12px;
    color: #fff;
    border-color: #fff;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    border: 1px solid #fff;
}

.hallura-button:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.hallura-button:hover, .hallura-button:active, .hallura-button:focus {
    color: #1d2124;
    border-color: #fff;
    background-color: #fff;
}

.o-team-media-img img {
    vertical-align: bottom;
}

.hallura-section h3 {
    font-weight: 300;
}

.testimonial-content img {
    border-radius: 50%;
}

.hallura-result-label {
    display: grid;
    justify-content: space-around;
    background-color: #f5f5f5;
    text-transform: uppercase;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 5px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.hallura-result-label div:not(:last-child) {
    border-right: 1px solid #323232;
}

.hallura-row {
    display: flex;
}

.hallura-row > * {
    flex: 1;
}

@media (max-width: 560px) {
    .hallura-row {
        flex-direction: column;
    }
}

.hallura-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hallura-container h3 {
    color: #c49903;
    font-weight: bold !important;
}

h5.hallura-result-title {
    color: #c49903;
    font-size: 16px;
    text-align: center;
}

.o-tean-content-inner {
    margin: 0 50px;
}
