.text-center {
    text-align: center;
}

.landpage-title {
    font-family: Raleway, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: none 0s ease 0s;
    text-align: center;
    line-height: 57px;
    margin: 0px;
    padding: 9px 0px;
    color: white;
    font-size: 48px;
    white-space: nowrap;
    text-wrap: wrap;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}


@media (max-width:767px) {
    .landpage-title {
        font-size: 35px;
    }
}

.hallura-button {
    padding: 13px 40px;
    font-size: 12px;
    color: #fff;
    border-color: #fff;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    border: 1px solid #fff;
}

.hallura-button:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.hallura-button:hover, .hallura-button:active, .hallura-button:focus {
    color: #1d2124;
    border-color: #fff;
    background-color: #fff;
}

.o-team-media-img img {
    vertical-align: bottom;
}

.hallura-section h3 {
    font-weight: 300;
    color: white !important;
    text-align: justify;
}

.hallura-section img {
    width: 100%;
    filter: invert(1);
}

.hallura-section {
    margin-bottom: 0px;
}

.hallura-before-after-subtitle{
    display: flex;
    justify-content: space-around;
    color: #444 !important;
    margin-top: 1em;
}

.hallura-results-grid-wrapper {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
}
.hallura-results-grid-wrapper p {
    text-align: justify;
}
.hallura-results-grid-wrapper.hallura-2-column {
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
}

.hallura-results-grid-wrapper p {
    color: #444 !important;
    margin-bottom: 0px;
    margin-top: 1em;
}

.hallura-results-grid-wrapper ul {
    margin: 1em 0 1em 1em;
}


.hallura-result-box {
    border-radius: 10px;
    padding: 30px;
}

.hallura-result-box h3 {
    margin: 0px;
}

.hallura-result-box h4 {
    margin-top: 0px;
}

.a {
    grid-column: 1;
    grid-row: 1;
}
.b {
    grid-column: 2;
    grid-row: 1;
}
.c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 3;
    grid-row: 1 / 3;
}
.hallura-result-big-text {
    font-size: 5em;
    line-height: .5em;
    float: left;
    margin-right: 0.2em;
}
.hallura-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#revolution .f {
    grid-column: 1 / 4;
    grid-row: 3;
}

@media (max-width:767px) {
    .hallura-results-grid-wrapper {
        grid-template-columns: 1fr 1fr;
    }
    .hallura-results-grid-wrapper.hallura-2-column {
        grid-template-columns: 1fr;
    }
    #revolution .c {
        grid-column: 1 / 3;
        grid-row: 3;
    }
    #revolution .d {
        grid-column: 1;
        grid-row: 2;
    }
    #revolution .e {
        grid-column: 2;
        grid-row: 2;
    }
    #revolution .f {
        grid-row: 4;
    }
}

@media (max-width:480px) {
    .hallura-results-grid-wrapper {
        grid-template-columns: 1fr;
    }
    #revolution .a {
        grid-column: 1;
        grid-row: 1;
        flex-direction: column;
    }
    #revolution .b {
        grid-column: 1;
        grid-row: 3;
    }
    #revolution .c {
        grid-column: 1;
        grid-row: 6;
    }
    #revolution .e {
        grid-column: 1;
        grid-row: 4;
    }
    #revolution .f {
        grid-column: 1;
    }
}


.hallura-result-title {
    color: #c49903;
    text-align: center;
    margin-top: 0px;
}

.hallura-packs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.hallura-packs img {
    max-width: 200px;
}

@media (max-width:480px) {
    .hallura-packs img {
        max-width: 150px;
    }
}

.who-we-are {
    background: rgb(219,191,119);
    background: linear-gradient(135deg, rgba(219,191,119,1) 0%, rgba(202,164,115,1) 60%, rgba(181,130,111,1) 100%);
}

.nobel {
    position: relative;
    display: block;
    float: right;
    bottom: -120px;
}

.nobel > img:nth-child(2) {
    display: block;
}

.nobel > img:nth-child(1) {
    position: absolute;
    left: -170px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.hallura-reviews {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width:480px) {
    .hallura-reviews {
        grid-template-columns: repeat(1, 1fr);
    }
}

.hallura-review {
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hallura-review p {
    color: #444 !important;
}

.hallura-review p:first-child:first-letter {
    font-size: 50px;
    float: left;
    margin-top: .2em;
    margin-right: .2em
}

.hallura-review p:nth-child(2) {
    margin-left: auto;
    margin-bottom: 0px;
}

.hallura-benefits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    margin-top: 30px;
}

@media (max-width:767px) {
    .hallura-benefits {
        grid-template-columns: repeat(3, 1fr);
    }
}


.hallura-benefits > div {
    padding: 30px;
}

@media (max-width:572px) {
    .hallura-benefits {
        grid-template-columns: repeat(2, 1fr);
    }
    .hallura-benefits > div {
        padding: 15px;
    }
}

.hallura-benefits p {
    color: #444 !important;
    margin: 0px;
    margin-top: 1.5em;
}

.hallura-benefits img {
    width: 55px;
}

.hallura-features {
    overflow-x:auto;
}

.hallura-features th, .hallura-features td {
    padding: 0.4em;
}

.tab-pane {
    padding: 0px 30px 30px 30px;
}
